<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="RulesEngine" type="DynamicRulesEngine.Configuration.RulesEngineSection, DynamicRulesEngine.Logic"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>

    <RulesEngine>
      <Rule priority ="1">
        <RuleEvaluations>
          <RuleEvaluation propertyName ="Timestamp" criteria ="equal" value ="NOREAD" />
          <RuleEvaluation propertyName ="Count" criteria ="notequal" value ="-1" />
        </RuleEvaluations>
        <RuleDecisions>
          <RuleDecision propertyName ="Processed" value ="true"/>
        </RuleDecisions>
      </Rule>
      <Rule priority ="2">
        <RuleEvaluations>
          <RuleEvaluation propertyName ="Count" criteria ="equal" value ="10" />
        </RuleEvaluations>
        <RuleDecisions>
          <RuleDecision propertyName ="Processed" value ="true"/>
        </RuleDecisions>
      </Rule>
    </RulesEngine>  
</configuration>